body{
	background-color:#333;
	color:#8cc;
}

h1{
	text-shadow:3px 3px #000;
}

#squirrel{
	float:left;
	padding:20px;
	border: solid 3px gold;
	background-color:#555;
	box-shadow: 10px 10px 5px #000;
	border-radius: 20px;
}

#content{
	border:solid 2px #08c;
	border-radius:15px;
	background-color:#333;
	color:#8cc;
	padding-left:20px;
}

.warning{
	color:red;
}